@import url('style-reset.css');
@import url('variables.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: var(--font-light);
  font-style: normal;
  color: var(--second-color);
  background-color: var(--gray-color);
}

.main {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 50rem;
  margin: 0 1rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
  font-size: 3rem;
}