@import url('style-reset.css');
@import url('variables.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: var(--font-light);
  font-style: normal;
  background-color: var(--primary-color);
  color: var(--second-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 50rem;
  height: 100vh;
  border: 1px solid;
}

.title {
  font-size: 3rem;
}